<div class="text-center">
<h1 class="cover-heading">(w)holistic vision</h1>

<p class="lead">(w)holistic aims to connect, empower and revitalize our community with resources that will help
  the individual live whole.
</p>

<p class="lead">
  <%= link_to "Learn more", listings_path, class: 'btn btn-lg btn-secondary' %>
</p>
</div>